@import "./_variables";

//for general uses
@font-face {
    font-family: "FallingSky";
    src: url("../fonts/FallingSky.otf"); 
    font-weight: normal; /* or bold, etc. */
    font-style: normal; /* or italic, etc. */
}

//for headers and large text
@font-face {
    font-family: "SupremeSpike";
    src: url("../fonts/SupremeSpike.otf"); 
    font-weight: normal; 
    font-style: normal; 
}

.App{
    text-align: center;
    width: 100vw;
    height: 100vh;


    &-header {
        font-family: "SupremeSpike";
        font-size: 100px;
        color: #937EF6;
    }
    .intro {
        font-family: "FallingSky";
        font-size: $intro-font-size;
        color: #CFB6E9;
    }
    button{
        border: none;
        background-color: #937EF6;
        color: white;
        margin: 10px;
        padding: 20px;
        border-radius: 40px;
        font-size: 25px;
        width: 10em;
    }
}
